{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        <!-- CSRF 토큰 오류 처리하기-->
        {{ form.csrf_token }}
        <!-- 오류표시
        create 함수에서 form.validate_on_submit() 코드가 실패(false 반환) 하면
        form 에는 오류 내용이 자동으로 등록
        form.errors 속성을 사용하여 해당내용을 출럭
        form.errors.items 의 field 는 subject 나 content 와 같은 입력 폼의 필드를 의미????-->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>:{{', '.join(errors) }}
        </div>
        {% endfor %}
        <!--        오류표시-->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.data  or ' ' }}">
                    <!-- 입력한 값 유지하기
                        {{ form.subject.data  or ' ' }} 로 이미 전송한 데이터를 다시 설정
                        or ' '  는 '현재 템플릿 이 get 방식으로 요청되는 경우, 기존 입력값이 없으므로
                        (None) 이 출력되는 것을 방지'
                    -->
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="5">
                {{ form.content.data or ' ' }}
            </textarea>
            <!-- 입력한 값 유지하기-->
         </div>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

